{% form_theme form 'bootstrap_4_layout.html.twig' %}

    {{ form_start(form) }}
    <ul class="form-style-1">
      <li>
      <ul>
        <li><label> {{ form_label(form.category) }}</label>
            {{ form_widget(form.category) }}</li>
         <li> <label> {{ form_label(form.title) }}</label>
            {{ form_widget(form.title) }}
           </li>
      </ul>
      </li>
        <li><label> {{ form_label(form.keywords) }}</label>
            {{ form_widget(form.keywords) }}
           </li>
            <li><label> {{ form_label(form.description) }}</label>
            {{ form_widget(form.description) }}
           </li>
             <li><label> {{ form_label(form.star) }}</label>
            {{ form_widget(form.star) }}
           </li>
             <li><label> {{ form_label(form.address) }}</label>
            {{ form_widget(form.address) }}
           </li>
             <li><label> {{ form_label(form.phone) }}</label>
            {{ form_widget(form.phone) }}
           </li>
             <li><label> {{ form_label(form.email) }}</label>
            {{ form_widget(form.email) }}
           </li>
            <li><label> {{ form_label(form.fax) }}</label>
            {{ form_widget(form.fax) }}
           </li>
                  <li><label> {{ form_label(form.country) }}</label>
            {{ form_widget(form.country) }}
           </li>    <li><label> {{ form_label(form.city) }}</label>
            {{ form_widget(form.city) }}
           </li>  
           <li><label> {{ form_label(form.code) }}</label>
            {{ form_widget(form.code) }}
           </li>   <li><label> {{ form_label(form.detail) }}</label>
            {{ form_widget(form.detail) }}
           </li>
            <li><label> {{ form_label(form.image) }}</label>
            {{ form_widget(form.image) }}
           </li>
           <li>
               <button class="btn">{{ button_label|default('Enregistrer') }}</button>
  <a  class="btn" href="{{ path('user_hotel_index') }}"> retourner</a>
           </li>
    </ul>
        {{ form_end(form) }}

<style>

.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

</style>
